* {
    color: #212c58;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    transition: 0.2s;
}

body {
    background-color: #fffafa;
    overflow-x: hidden;
    overflow-y: scroll; /* This makes the vertical scroll bar always present, so page element are always in the same place regardless of overflow. */
    width: 100%;
}

h1 {
    margin: 24px auto;
    width: 60%;
}

.bad-pin::placeholder {
    color: #ff0000;
    font-weight: bold;
}

.list {
    height: fit-content;
    margin: 24px auto;
    width: 60%;
}

.list table {
    height: 100%;
    width: 80%;
}

.list td {
    font-size: 11px;
    padding-left: 6px;
    height: 100/3%;
}

.list li {
    align-items: center;
    border: 3px solid #212c58;
    border-radius: 6px;
    /* box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226); */
    display: flex;
    height: 120px;
    list-style-type: none;
    margin: 24px 0px;
    overflow: hidden;
    text-align: left;
}

/* .list li:hover {
    background-color: #ededed;
} */

.list li div {
    padding: 0px 12px;
    width: 20%;
}

.list li div:nth-child(1) { 
    font-size: 16px;
    font-weight: bold;
}

.menu-item {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    color:#212c58;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    height: 80%;
    justify-content: center;
    margin: 6px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.menu-item:hover {
    background-color: #212c58;
    color: #fffafa;
}

#body-container {
    height: fit-content;
    min-height: 60%;
    position: absolute;
    top: 20vh;
    width: 100%;
}

#header-container {
    align-items: center;
    display: flex;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    background-color: #fffafa;
    height: 20vh;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#header-message {
    align-items: center;
    color: #fffafa;
    display: flex;
    font-size: 64px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#keypad-0 {
    grid-column: 2/3;
    grid-row: 5/6;
}

#keypad-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#keypad-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#keypad-3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#keypad-4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#keypad-5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#keypad-6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#keypad-7 {
    grid-column: 1/2;
    grid-row: 4/5;
}

#keypad-8 {
    grid-column: 2/3;
    grid-row: 4/5;
}

#keypad-9 {
    grid-column: 3/4;
    grid-row: 4/5;
}

#keypad-clear {
    grid-column: 1/2;
    grid-row: 5/6;
}

#keypad-clear:hover {
    border: 3px solid #ff0000;
    background-color: #ff0000 !important;
}

#keypad-submit {
    background-color: #ededed;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    font-size: 36px;
    font-weight: bold;
    grid-column: 3/4;
    grid-row: 5/6;
}

#keypad-submit:hover {
    background-color: #00ff00;
    border: 3px solid #00ff00;
    color: #fffafa;
}

#login-container {
    display: grid;
    grid-template-columns: 100/3% 100/3% 100/3%;
    margin: 0px auto;
    margin-bottom: 24px;
    min-height: 65vh;
    width: 62%;
}

#login-container div {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    display: flex;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    margin: 0px 6px 12px 6px;
    user-select: none;
}

#login-container div:hover {
    background-color: #212c58;
    color: #fffafa;
}

#login-container input {
    border: 3px solid #212c58;
    border-radius: 6px;
    margin: 0px 6px 12px 6px;
}

#login-field {
    background-color: #fffafa;
    font-size: 24px;
    grid-column: 1/4;
    grid-row: 1/2;
    padding-left: 24px;
    text-align: left;
}

#menu-items {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

#menu-items a {
    font-size: 16px;
}

#menu-username {
    width: 0%;
}

#menu-username p {
    color: #fffafa;
    display: none;
    font-size: 48px;
    font-weight: bold;
    margin-left: 24px;
}

#unauthorised-container {
    margin: 0px auto;
    margin-bottom: 24px;
    min-height: 30vh;
    width: 60%;
}

#unauthorised-container a {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    display: flex;
    font-size: 36px;
    font-weight: bold;
    height: 120px;
    justify-content: center;
    margin: 24px 0px;
    text-decoration: none;
}

#unauthorised-container a:hover {
    background-color: #212c58;
    color: #fffafa;
}

@media (min-width: 1200px) {
    h1 {
        width: 54%;
    }

    .list {
        width: 54%;
    }

    .list td {
        font-size: 16px;
        padding: 0px;
    }

    .list li div {
        padding-left: 24px;
    }

    .list li div:nth-child(1) {
        font-size: 24px;
    }

    #login-container {
        width: 55%;
    }

    #login-message {
        font-size: 48px;
    }

    #unauthorised-container {
        width: 54%;
    }

    #menu-items a {
        font-size: 24px;
    }
    
    #menu-username {
        width: 60%;
    }

    #menu-username p {
        display: unset;
    }
}

.jobsManagerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    margin: auto;
    margin-top: 20px;
}

.jobsManagerHeader h1 {
    width: 100%;
}

.jobsManagerLinks {
    display: flex;
    flex-direction: row;
}

.jobsManagerLinks a {
    text-decoration: none;
    width: 75px;
    text-align: center;
    font-size: 20px;
    color: #faf8f6;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    background-color: #212c58;
    border-radius: 7px;
}

.jobList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: auto;
    margin-top: 40px;
}

.job {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border: 1px solid #212c58;
    border-radius: 7px;
    width: 100%;
    color: #212c58;
    margin: 10px;
}

.jobID {
    width: 10%;
    height: 100%;
    border-right: 1px solid #212c58;
    border-radius: 7px;
    text-align: center;
    padding: 15px;
}

.jobInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px 20px 0px 20px;
    justify-content: space-between;
}

.bold {
    font-weight: bold;
}

.priority {
    border: 1px solid #212c58;
    border-radius: 7px;
    padding: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
}

.job p {
    margin: 10px;
}

.job:hover {
    background-color: #212c58;
}

.job:hover p {
    color: #faf8f6;
}

.job:hover .priority {
    border: 1px solid #faf8f6;
}

.job:hover .jobID {
    border-right: 1px solid #faf8f6;
}

.createJobForm {
    width: 60vw;
    margin: auto;
    margin-top: 20px;
    border: 2px solid #212c58;
    border-radius: 50px;
    padding: 20px 20px 40px 20px;
    display: flex;
    flex-direction: row;
}

.createJobForm form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.innerJobForm {
    width: 100%;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.innerJobForm label {
    margin: 30px 0px 5px 0px;
}

.innerJobForm textarea {
    width: 80%;
    min-height: 50px;
    height: 80%;
}

.select-dropdown,
.select-dropdown * {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    width: 80%;
}
.select-dropdown {
    position: relative;
    background-color: #E6E6E6;
    border-radius: 4px;
}
.select-dropdown select {
    font-size: 1rem;
    font-weight: normal;
    max-width: 100%;
    padding: 8px 24px 8px 10px;
    border: none;
    background-color: transparent;
        -webkit-appearance: none;
        -moz-appearance: none;
    appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
}
.select-dropdown:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 8px;
    width: 0;
    height: 0;
    margin-top: -2px;
    border-top: 5px solid #aaa;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
}

.createJobForm form input[type='submit'] {
    text-decoration: none;
    width: 100px;
    border: none;
    text-align: center;
    font-size: 20px;
    color: #faf8f6;
    margin: 15px 10px 0px 10px;
    padding: 10px;
    background-color: #212c58;
    border-radius: 7px;
}

.handleJob {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 40vh;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.handleJob .deleteButtons {
    margin: 20px;
    display: flex;
    flex-direction: row;
}

.handleJob a {
    display: block;
    text-decoration: none;
    width: 100px;
    text-align: center;
    font-size: 20px;
    color: #faf8f6;
    margin: 0px 10px 0px 10px;
    padding: 10px;
    border-radius: 7px;
}

.deleteButton {
    margin: 30px;
    background-color: red;
}

.cancelButton {
    margin: 30px;
    background-color: #212c58;
}

.restoreButton {
    margin: 30px;
    background-color: green;
}

.hide {
    display: none;
}