* {
    box-sizing: border-box;
    color: #212c58;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    transition: 0.2s;
}

body {
    background-color: #fffafa;
    overflow-x: hidden;
    overflow-y: scroll; /* This makes the vertical scroll bar always present, so page element are always in the same place regardless of overflow. */
    width: 100%;
}

h1 {
    margin: 24px auto;
    width: 60%;
}

.bad-pin::placeholder {
    color: #ff0000;
    font-weight: bold;
}

.clickable {
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    cursor: pointer;
}

.clickable:hover {
    background-color: #ededed;
}

.date {
    color: #708090;
    font-size: 12px;
    margin-left: 24px;
    white-space: nowrap;
}

.list {
    height: fit-content;
    margin: 0px auto 24px auto;
    width: 60%;
}

.list a {
    align-items: center;
    border: 3px solid #212c58;
    border-radius: 6px;
    /* box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226); */
    display: flex;
    height: 160px;
    list-style-type: none;
    margin-bottom: 24px;
    overflow: hidden;
    text-align: left;
    text-decoration: none;
}

.list li {
    align-items: center;
    border: 3px solid #212c58;
    border-radius: 6px;
    /* box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226); */
    display: flex;
    height: 120px;
    list-style-type: none;
    margin: 24px 0px;
    overflow: hidden;
    text-align: left;
}
    
.list-label { 
    font-weight: bold;
    font-size: 16px;
    padding: 0px 12px;
    width: 25%;
}

.menu-item {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    color:#212c58;
    cursor: pointer;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    min-height: 80px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.menu-item:hover {
    background-color: #212c58;
    color: #fffafa;
}

.message-button {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 24px;
    min-height: 80px;
    text-decoration: none;
    user-select: none;
    width: 100%;
}

.message-button:hover {
    background-color: #212c58;
    color: #fffafa;
    cursor: pointer;
}

.message-button:hover option {
    background-color: #212c58;
    color: #fffafa;
    cursor: pointer;
}

.messages-content {
    border-left: 3px solid #212c58;
    height: 100%;
    font-size: 14px;
    padding: 0px 24px 0px 6px;
    position: relative;
    width: 100%;
}

.messages-subject {
    font-size: 16px;
    font-style: italic;
    white-space: nowrap;
}

.messages-subject-date-group {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
}

.red-hover:hover {
    border: 3px solid #ff0000 !important;
    background-color: #ff0000 !important;
    color: #fffafa;
}

.reports-button {
    margin-bottom: 24px;
    min-height: 80px;
}

.reports-button:hover input {
    color: #fffafa;
}

.reports-button:hover p {
    color: #fffafa;
}

.reports-button input {
    background: transparent;
    border: none;
}

.reports-button input:focus {
    outline: none;
}

.reports-button:hover input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.reports-input {
    padding: 0px 6px;
}

.reports-table-expanded {
    background-color: #fffafa;
    height: 100vh !important;
    margin-bottom: 0px !important;
    position: absolute;
    top: 0px;
    width: 100% !important;
    z-index: 2;
}

.unread {
    background-color: #ffff00;
}

.unread:hover {
    background-color: #fffacd !important;
}

.users-table {
    border-left: 3px solid #212c58;
    height: 100%;
    width: 80%;
}

.users-table td {
    font-size: 11px;
    padding-left: 6px;
    height: 100/3%;
}

#body-container {
    height: fit-content;
    min-height: 60%;
    position: absolute;
    top: 120px;
    width: 100%;
}

#header-container {
    align-items: center;
    display: flex;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    background-color: #fffafa;
    height: 120px;
    justify-content: space-between;
    padding: 24px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 1;
}

#header-message {
    align-items: center;
    color: #fffafa;
    display: flex;
    font-size: 64px;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 100%;
}

#keypad-0 {
    grid-column: 2/3;
    grid-row: 5/6;
}

#keypad-1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#keypad-2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

#keypad-3 {
    grid-column: 3/4;
    grid-row: 2/3;
}

#keypad-4 {
    grid-column: 1/2;
    grid-row: 3/4;
}

#keypad-5 {
    grid-column: 2/3;
    grid-row: 3/4;
}

#keypad-6 {
    grid-column: 3/4;
    grid-row: 3/4;
}

#keypad-7 {
    grid-column: 1/2;
    grid-row: 4/5;
}

#keypad-8 {
    grid-column: 2/3;
    grid-row: 4/5;
}

#keypad-9 {
    grid-column: 3/4;
    grid-row: 4/5;
}

#keypad-clear {
    grid-column: 1/2;
    grid-row: 5/6;
}

#keypad-submit {
    background-color: #ededed;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    font-size: 36px;
    font-weight: bold;
    grid-column: 3/4;
    grid-row: 5/6;
}

#keypad-submit:hover {
    background-color: #00ff00;
    border: 3px solid #00ff00;
    color: #fffafa;
}

#login-container {
    display: grid;
    grid-template-columns: 100/3% 100/3% 100/3%;
    margin: 0px auto;
    margin-bottom: 24px;
    min-height: 65vh;
    width: 62%;
}

#login-container div {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    display: flex;
    font-size: 36px;
    font-weight: bold;
    justify-content: center;
    margin: 0px 6px 12px 6px;
    user-select: none;
}

#login-container div:hover {
    background-color: #212c58;
    color: #fffafa;
}

#login-container input {
    border: 3px solid #212c58;
    border-radius: 6px;
    margin: 0px 6px 12px 6px;
}

#login-field {
    background-color: #fffafa;
    font-size: 24px;
    grid-column: 1/4;
    grid-row: 1/2;
    padding-left: 24px;
    text-align: left;
}

#new-message-button-container {
    display: flex;
    flex-direction: column;
    margin: 24px auto 0px auto;
    width: 60%;
}

#new-message-container {
    background-color: #fffafa;
    border: 3px solid #212c58;
    border-radius: 6px;
    height: fit-content;
    margin: 0px auto;
    min-height: 20vh;
    padding: 24px;
    width: 60%;
}

#new-message-input {
    resize: none;
    height: 25vh;
    padding: 6px;
    width: 100%;
}

#new-message-subject {
    font-style: italic;
}

#menu-items {
    align-items: center;
    display: flex;
    gap: 24px;
    height: 100%;
    width: 100%;
}

#menu-items a {
    font-size: 16px;
}

#menu-username {
    width: 0px;
}

#menu-username p {
    color: #fffafa;
    display: none;
    font-size: 48px;
    font-weight: bold;
}

#message-subject-date-group {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
}

#message-button-container {
    display: flex;
    flex-direction: column;
    margin: 24px auto 0px auto;
    width: 60%;
}

#message-button-mark-unread:hover {
    border: 3px solid #ffff00;
    background-color: #ffff00;
}

#message-container {
    background-color: #fffafa;
    border: 3px solid #212c58;
    border-radius: 6px;
    height: fit-content;
    margin: 0px auto;
    min-height: 20vh;
    padding: 24px;
    width: 60%;
}

#message-subject {
    font-style: italic;
}

#message-button-new {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    min-height: 80px;
    text-decoration: none;
    user-select: none;
    width: 100%;
}

#message-button-new:hover {
    background-color: #212c58;
    color: #fffafa;
    cursor: pointer;
}

#reports-button-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    justify-content: space-between;
    margin: 24px auto;
    position: relative;
    width: 60%;
}

#reports-button-container div {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    display: flex;
    flex-direction: column;
    font-weight: bold;
    justify-content: center;
    user-select: none;
}

#reports-button-container div:hover {
    background-color: #212c58;
    color: #fffafa;
}

#reports-button-select-machine {
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 24px;
    min-height: 80px;
    padding: 0px 24px;
    user-select: none;
    width: 100%;
}

#reports-button-select-machine:hover {
    background-color: #212c58;
    color: #fffafa;
}

#reports-button-select-machine:hover option {
    color: #fffafa;
}

#reports-button-submit {
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    font-size: 16px;
    font-weight: bold;
    min-height: 80px;
    padding: 0px 40px;
    user-select: none;
}

#reports-button-submit:hover {
    background-color: #00ff00;
    border: 3px solid #00ff00;
    color: #fffafa;
}

#reports-table-wrapper {
    border: 3px solid #212c58;
    border-collapse: collapse;
    border-radius: 6px;
    height: 60vh;
    margin: 24px auto;
    overflow: scroll;
    position: relative;
    transition: none;
    width: 59%;
}

#reports-table-wrapper table {
    border-collapse: collapse;
}

#reports-table-wrapper td {
    padding: 12px 6px;
    white-space: nowrap;
}

#reports-table-wrapper th {
    background-color: #ededed;
    padding: 12px 6px;
    position: sticky;
    top: 0px;
    white-space: nowrap;
}

#reports-table-wrapper tr {
    background-color: #fffafa;
}

#reports-table-wrapper tr:nth-child(2n+1) {
    background-color: #ededed;
}

#unauthorised-container {
    margin: 0px auto;
    margin-bottom: 24px;
    min-height: 30vh;
    width: 60%;
}

#unauthorised-container a {
    align-items: center;
    background-color: #ededed;
    border: 3px solid #212c58;
    border-radius: 6px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.226);
    display: flex;
    font-size: 36px;
    font-weight: bold;
    height: 120px;
    justify-content: center;
    margin: 24px 0px;
    text-decoration: none;
}

#unauthorised-container a:hover {
    background-color: #212c58;
    color: #fffafa;
}

@media (min-width: 1000px) {
    h1 {
        width: 64%;
    }

    .date {
        font-size: 14px;
    }

    .list {
        margin-top: 24px;
        width: 64%;
    }

    .list-label {
        font-size: 24px;
        padding-left: 24px;
    }

    .message-button {
        margin-bottom: 0px;
    }

    .messages-body {
        font-size: 16px;
    }

    .messages-content {
        padding-left: 12px;
    }

    .messages-subject {
        font-size: 18px;
    }

    .messages-subject-date-group {
        padding: 24px 0px;
    }

    .reports-button {
        margin: 0px;
    }

    .users-table {
        padding-left: 12px;
    }
    
    .users-table td {
        font-size: 16px;
        padding: 0px;
    }
    
    #login-container {
        width: 64%;
    }

    #login-message {
        font-size: 48px;
    }
    
    #menu-items a {
        font-size: 24px;
    }
    
    #menu-username {
        padding-right: 24px;
        width: fit-content;
        white-space: nowrap;
    }
    
    #menu-username p {
        display: unset;
    }

    #message-container {
        width: 64%;
    }

    #message-button-container {
        flex-direction: row;
        gap: 24px;
        width: 64%;
    }

    #new-message-button-container {
        flex-direction: row;
        gap: 24px;
        width: 64%;
    }

    #new-message-container {
        min-height: 40vh;
        width: 64%;
    }

    #message-container {
        min-height: 40vh;
        width: 64%;
    }

    #reports-button-container {
        flex-direction: row;
        gap: 24px;
        width: 64%;
    }

    #reports-button-select-machine {
        margin: 0px;
        padding: 0px;
    }

    #reports-table-wrapper {
        width: 64%;
    }

    #unauthorised-container {
        width: 64%;
    }
}
